	body,div,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,pre,p,blockquote,th,td {margin: 0;padding: 0; font-family: Verdana, Arial, Helvetica, sans-serif; font-size:12px;}
img {border:0;}
table{border-collapse:collapse;}
b{font-weight:normal; display:block}
*:focus {outline: none;}
a{text-decoration: none; outline:none}

/* Custom Styles */
body{background:#fff}

/* general */
.wrapper{width:100%; margin:auto;}
.header, .main, .footer{margin:0px}

/* header */
.header{
	color:#fff;	
	background: #107081; /* Old browsers */
	
	-webkit-box-shadow: 1px 1px 5px 2px #A6A6A6;
	-moz-box-shadow: 1px 1px 5px 2px #A6A6A6;
	-ms-box-shadow: 1px 1px 5px 2px #A6A6A6;
	-o-box-shadow: 1px 1px 5px 2px #A6A6A6;
	box-shadow: 1px 1px 5px 2px #A6A6A6;	 
}
.header table{width:100%}
.header h2{font-size:28px; padding-left:5%;}
.header h3{font-size:18px; padding-left:5%; color:#fff}
.subHeader{background: #179bb3; border-top: 2px solid #fff; border-bottom: 2px solid #107081;}
.breadCrumb{color:#fff; padding:0.5%; font-size:11px; text-align: right; padding-right: 2%;}
.breadCrumb a{color:#fff; text-decoration:blink;}
.logo{
	padding-left: 2%;
	padding-top: 0.5%;
	width: 10%;
	padding-bottom: 0.5%;
}

#menu, #menu ul{list-style:none; margin:0; padding:0; width:224px;}
#menu ul{width:212px;}

.topLnk{width:30%;}
.topLnk .lnkBox{height:3%; text-align: right;margin-right: 2%;width:100%;}
.topLnk ul{margin:0; padding:0; list-style:none; font-weight:bold; height:30px; }
.topLnk ul li {display:inline-block; padding-left:2%;}
.topLnk a{color:#fff; font-size:11px}
.welcome{height:30px; font-size:15px; line-height:30px; font-weight:bold;text-align:right; padding-right:10px;}
/* main */

.error{margin:0 0 5px; line-height:26px; border:1px solid #ff0000; color:#ff0000; background:#f7e2e2; padding:0 10px 0 15px}
.messageBox{margin:0 0 5px; line-height:26px; border:1px solid #336633; color:#336633; background:#CADAAA; padding:0 10px 0 15px  }

.mainHdr h3{line-height:25px; padding:0 0 5px; height:25px; font-weight:normal; color:#5d3313; font-weight:bold; font-size:15px;
	margin:0 0 10px; border-bottom:1px solid #888888;}
.mainHdr h3 a{float:right; font-weight:bold; line-height:23px; color:#5d3313; font-size:10px; padding-right:10px;}
.mainHdr h3 a:hover{text-decoration:underline}
.mainHdr h3 a b{float:right; font-weight:bold; line-height:23px; color:#097A26; font-size:10px; padding-right:10px;}

.dataGrid{border:1px solid #d7d7d7; width:100%}
.dataGrid td{padding:4px 6px}
.dataGrid thead{background:#e6e6e6; font-weight:bold; color:black;}
.dataGrid thead td, .dataBox tfoot td{padding:6px 6px}
.dataGrid tfoot{background:#e6e6e6; font-weight:bold; color:black;}
.dataGrid tbody a{text-decoration: none; outline:none; color:blue;}
.dataGrid .ClsSubmenuTitle{padding:0}

/* .dataGrid tbody tr:hover{background-color: #956E1A;font-weight: bold; }
.dataGrid tbody tr:hover{font-weight: bold; } */

.dataForm tbody tr td{padding:5px; font-size:11px}
.ClsRequiredFields{color:#f00}


/* footer */
.footer{
	color:#fff; 
	background:#179bb3; 
	margin-bottom:0px;
	border-top: 3px solid #107081;
}
.copyright {	
	padding-left:1%;
	padding-top: 0.5%;
	padding-bottom: 1%;
	font-weight:bold;
	text-align:left;
}

.maintainedBy {	
	padding-top: 0.5%;
	padding-bottom: 1%;
	font-weight:bold;
	text-align: right;
}

/*  left col  */
.leftCol{color:#535353; width:185px; background:url(../images/shadow.gif) repeat-y 100% 0; font-weight:bold; height:460px}
.leftCol a{color:#535353;}

/* right col */
.rightCol{padding:8px;height:410px}

/* menu */
#menu, .menu ul{list-style:none; margin:0; padding:0; width:185px;}
#menu ul{width:174px; margin:0 0 0 12px }
#menu li{margin:5px 0; font-size:12px;}
#menu  li a{height:30px; line-height:30px; display:block; padding-left:13px;  color:#fff; background-color: #107081;}
#menu  li ul a{height:18px; line-height:18px; display:block; padding-left:10px;}
#menu  li ul a:hover { text-decoration: underline;}
#menu  li ul a:hover{text-decoration: underline; background-color: #107081;}
#menu  li a.opened{background:url(../images/OpenIcon.gif) no-repeat right #107081;}
#menu  li a.closed{background:url(../images/closeIcon.gif) no-repeat right #107081;}
#menu  li ul li a{margin:3px 0; background:#179bb3; font-size:10px;}
#menu  li a ul li a{line-height:27px; }

.selected-item{
	background-color: #107081 !important;
}

.ClsLabel {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;	
	text-align: left;
	font-weight: bold;
}

.ClsTextbox {
	color: #000;
	font: 11px Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 4px;
	float:left;
	/* min-width: 180px;*/	
	width: 230px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
	border: 1px solid #c8c8c8;
	-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
   	-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    position:relative; 
}

.ClsTextboxEmail {
	color: #000;
	font: 11px Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 4px;
	float:left;
	/* min-width: 180px;*/	
	width: 550px;
	/* height:18px; */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
	border: 1px solid #c8c8c8;
	-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
   	-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    position:relative; 
}

.ClsTextAreaEmail {
	color: #000;
	font: 11px Helvetica, Arial, sans-serif;
	margin-right: 5px;
	padding: 4px;
	float:left;
	/* min-width: 180px;*/	
	width: 550px;
	/* height:18px; */
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
	border: 1px solid #c8c8c8;
	-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
   	-ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/
    position:relative; 
}


.ClsTextboxDate {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid Black;
	background-color: white;
	font-size: 11px;
	height: 16px;
	width:75px;
	margin-right: 5px;
	padding: 4px;
	
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-moz-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-ms-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-o-box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	box-shadow: 0 1px 0 #fff, 0 -2px 5px rgba(0,0,0,0.08) inset;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;	
	border: 1px solid #c8c8c8;
	-webkit-appearance: none; /* gets rid of default appearance in Webkit browsers*/
    -moz-appearance: none; /* Get rid of default appearance for older Firefox browsers */
    -ms-appearance: none; /* get rid of default appearance for IE8, 9 and 10*/ 
}

.ClsTextboxReadonly {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: none;
	background-color: white;
	font-size: 11px;
	height: 14px;	
}

.ClsTextbox:focus,
.ClsSelect:focus,
.ClsTextarea:focus,
.ClsTextboxEmail:focus,
.ClsTextboxDate:focus{
	-webkit-box-shadow: 0 0 2px #8c9ca8 inset;
	-moz-box-shadow: 0 0 2px #8c9ca8 inset;
	-ms-box-shadow: 0 0 2px #8c9ca8 inset;
	-o-box-shadow: 0 0 2px #8c9ca8 inset;
	box-shadow: 0 0 2px #8c9ca8 inset;
	border: 1px solid #8c9ca8;
	outline: none;
}

	
/*Buttons*/
.ClsButton {
	background: #5d3313;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
	font-weight: bold;
	color:#FFFFFF;
	border: 1px solid #000;
	
	font-weight: bold;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-ms-border-radius: 9px;
	-o-border-radius: 9px;
	border-radius: 9px;
	height: 30px;
	margin: 18px 0 10px 15px;
	padding: 5px 8px 5px 8px ;		
	cursor: pointer;
	
}

.ClsButton:hover {
	background: #5d3313; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzYTVjYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyZWEyY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #5d3313 0%, #5d3313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d3313), color-stop(100%,#5d3313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #5d3313 0%,#5d3313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #5d3313 0%,#5d3313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #5d3313 0%,#5d3313 100%); /* IE10+ */
	background: linear-gradient(to bottom, #5d3313 0%,#5d3313 100%); /* W3C */
	
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5d3313', endColorstr='#5d3313'); /* For IE6 & IE7 */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5d3313', endColorstr='#5d3313')"; /* for IE8 */	
}


.btn{display:inline-block;margin-bottom:0;font-weight:400;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;background-image:none;border:1px solid transparent;padding:6px 12px;font-size:14px;line-height:1.42857143;border-radius:4px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn.active.focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn:active:focus,.btn:focus{outline:5px auto -webkit-focus-ring-color;outline-offset:-2px}
.btn.focus,.btn:focus,.btn:hover{color:#333;text-decoration:none}
.btn-group-xs>.btn,.btn-xs{
	padding:1px 5px;font-size:12px;line-height:1.5;border-radius:3px
}
.btn-primary{color:#fff;background-color:#337ab7;border-color:#2e6da4}
.btn-primary.focus,.btn-primary:focus{color:#fff;background-color:#286090;border-color:#122b40}
.btn-primary:hover{color:#fff;background-color:#286090;border-color:#204d74}
/*Textareas*/
.ClsTextarea {border:1px solid Black; background:none; font:12px/12px Arial, Helvetica, sans-serif; margin:0;}

/*Safari*/
input, textarea, select {font:12px/12px Arial, Helvetica, sans-serif; padding:0;}
select, input, textarea, button {outline:none; resize:none;}

select {
	width: 220px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid Black;
	font-size: 11px;
}
/* This style is used for displaying error information*/
.clsNoRecords {
	color: red;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	padding: 0px 0px 2px 20px;
	vertical-align: top;
}

.ClsSubmenuTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #555;
	display: block;
	font-size: 12px;
	font-weight: bold;
	float: left;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Search Style */
.ClsSearch {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
	overflow: auto;
	background-color: #e6e6e6;
	font-size: 11px;
	color: black;
	font-weight: bold;
	vertical-align: AbsMiddle;
	width: 100%;
}

.ClsSearchTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
	font-weight: bold;
	display: block;
	font-size: 12px;
	padding-left: 5px;
	padding-bottom: 2px;
	font-weight: bold;
}

.ClsAutoTextbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border: 1px solid Black;
	background-color: #bcedad;
	font-size: 11px;
	height: 15px;
}

.searchForm tbody tr td{padding:2px; font-size:11px}

.ClsTRHeaderList{background:#e6e6e6; font-weight:bold; color:black;}
.ClsTRHeaderList td {padding:6px 6px}

/* This style is used for Workflow include page */
.ClsTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00476B;
	display: block;
	font-size: 16px;
	font-weight: bold;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

.ClsLblTitle {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #00476B;
	display: block;
	font-size: 11px;
	font-weight: bold;
	float: left;
	padding-top: 3px;
	padding-bottom: 3px;
}

.formTable {margin:8px 0;}
.formTable td{padding:5px}
.formTable .clsLabel{background:#f8f8f8; font-weight:bold; font-size:11px}
.formTable .clsInput{ background:#f8f8f8}
.formTable .inputBox{height:20px;}
.workflowBox{font-size:12px; border:1px solid #d7d7d7}
.workflowBox h3{border-bottom:1px solid #d7d7d7; padding:0 0 5px;}
.formBox{height:154px;}

/* Task Status */
.statusOption{float:left; line-height:27px; padding-right:10px;}
.status{background: url(../images/statusNew.png) no-repeat; height:27px; width:28px; float:left; margin:0 6px}
.approveOn{background-position: 0 0 }
.approveOff{background-position: 0 -37px }
.rejectOn{background-position: -38px 0 }
.rejectOff{background-position: -38px -37px }
.othersOn{background-position: -76px 0 }
.othersOff{background-position: -76px -37px }
.reverifyOn{background-position: -115px 0 }
.reverifyOff{background-position: -115px -37px }

/* Landing Page */

.landingPageWrapper{ 
	width: 975px;
	margin:auto;
	height:768px;
}

.mars-module-list{
	background-color:white;
	padding-left: 35px;
	width: 950px;
}

.mars-module{ 
	width:251px; 
	height:100px; -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;  border-radius: 4px 4px 4px 4px;
	 border:solid 1px #f17d10; 
   z-index:1; 
   padding:3px; 
   float:left; 
   margin:20px;
   background:#fff;
   font-size:11px; 
 }

.mars-module .module-icon{
	float:left; 
	width:70px; 
	padding-top:10px; 
	margin-right:10px;
}
	
.mars-module .module-info{
	float:left;
	width:170px;
	min-height:20px;
	height:100px;
	font-family:Arial, Helvetica, sans-serif; 
	font-size:11px; 
	margin:0;
	padding:0;
	z-index:1;
	text-align:left;
	margin-top:2px; 
	color:#000; 
}
.mars-module .module-info h4{
	color:#7b2403; 
	font-weight:bold; 	
	margin-bottom:2px; 
	padding:0; 
	margin:0 0 2px; 
	padding-bottom:1px; 
	border-bottom:#f17d10 solid 1px; 
	width:170px; 
	height:29px;
}

.table-1{
	cellpadding: 1;
	cellspacing: 1;
	  border: 1px solid black;  
	   width:96%; 
}


