<table>
	<tbody>
   		<tr>
			<td class="rightCol" valign="top">
				<ul id="menu">
					#if($rolesPermissions.containsKey("/stage/")||
						$rolesPermissions.containsKey("/documentmaster/"))
					<li id="Common-Masters">
						<a  href="#">$messageSource.getMessage("Menu.common.masters.heading")</a>
						<ul>
							#if ($rolesPermissions.containsKey("/stage/"))
							<li id="stage"><a href="$contextRoot/stage/listStage.do">$messageSource.getMessage("Menu.common.masters.Stage")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/documentmaster/"))
							<li id="documentmaster"><a href="$contextRoot/documentmaster/listDocumentMaster.do">$messageSource.getMessage("Menu.common.masters.DocumentMaster")</a></li>
							#end								
						</ul>
					</li>
					#end
					
					
				 #*	#if ($rolesPermissions.containsKey("/state/") || 
						$rolesPermissions.containsKey("/district/") ||  
						$rolesPermissions.containsKey("/taluka/") || 
						$rolesPermissions.containsKey("/city/") ||  
						$rolesPermissions.containsKey("/ward/") || 						
						$rolesPermissions.containsKey("/nodemaster/") || 
						$rolesPermissions.containsKey("/sector/") ||
						$rolesPermissions.containsKey("/plot/")) 	
						<li id="Location-Masters">
						<a  href="#">$messageSource.getMessage("Menu.location.masters.heading")</a>
						<ul>
							#if ($rolesPermissions.containsKey("/state/"))
							<li id="state"><a href="$contextRoot/state/listState.do">$messageSource.getMessage("Menu.GIS.masters.State")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/district/"))	
							<li id="district"><a href="$contextRoot/district/listDistrict.do">$messageSource.getMessage("Menu.GIS.masters.District")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/taluka/"))
							<li id="taluka"><a href="$contextRoot/taluka/listTaluka.do">$messageSource.getMessage("Menu.GIS.masters.Taluka")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/city/"))
							<li id="city"><a href="$contextRoot/city/listCity.do">$messageSource.getMessage("Menu.GIS.masters.City")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/ward/"))
							<li id="ward"><a href="$contextRoot/ward/listWard.do">$messageSource.getMessage("Menu.GIS.masters.Ward")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/nodemaster/"))
							<li id="nodemaster"><a href="$contextRoot/nodemaster/listNodeMaster.do">$messageSource.getMessage("Menu.GIS.masters.Node")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/sector/"))
							<li id="sector"><a href="$contextRoot/sector/listSector.do">$messageSource.getMessage("Menu.GIS.masters.Sector")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/plottype/"))
							<li id="plottype"><a href="$contextRoot/plottype/listPlotType.do">$messageSource.getMessage("Menu.GIS.masters.PlotType")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/plot/"))
							<li id="plot"><a href="$contextRoot/plot/listPlot.do">$messageSource.getMessage("Menu.GIS.masters.Plot")</a></li>
							#end
						</ul>
					</li>
					#end 	*# 
					
					
					#if ($rolesPermissions.containsKey("/user/") || 
						$rolesPermissions.containsKey("/role/") ||  
						$rolesPermissions.containsKey("/permission/") || 
						$rolesPermissions.containsKey("/permissiongroup/") ||
						$rolesPermissions.containsKey("/department/") || 
						$rolesPermissions.containsKey("/designation/") ||
						$rolesPermissions.containsKey("/salutation/"))
					<li id="User-Administration">
						<a href="#">$messageSource.getMessage("Menu.User.masters.heading")</a>
						<ul>	
							#if ($rolesPermissions.containsKey("/user/"))
							<li id="user"><a href="$contextRoot/user/listUser.do">$messageSource.getMessage("Menu.User.user")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/role/"))
							<li id="role"><a href="$contextRoot/role/listRole.do">$messageSource.getMessage("Menu.User.Role")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/permission/"))	
							<li id="permission"><a href="$contextRoot/permission/listPermission.do">$messageSource.getMessage("Menu.User.Permission")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/permissiongroup/"))
							<li id="permissiongroup"><a href="$contextRoot/permissiongroup/listPermissionGroup.do">$messageSource.getMessage("Menu.User.PermissionGroup")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/department/"))
							<li id="department"><a href="$contextRoot/department/listDepartment.do">$messageSource.getMessage("Menu.User.Department")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/designation/"))
							<li id="designation"><a href="$contextRoot/designation/listDesignation.do">$messageSource.getMessage("Menu.User.Designation")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/salutation/"))
							<li id="salutation"><a href="$contextRoot/salutation/listSalutation.do">$messageSource.getMessage("Menu.User.Salutation")</a></li>
							#end 
						</ul>
					</li>
					#end
					
					
					#if ($rolesPermissions.containsKey("/workflowtemplate/") || 
						$rolesPermissions.containsKey("/workflowtemplateusermapping/") )
					<li id="Workflow-Masters">
						<a href="#">$messageSource.getMessage("Menu.Workflow.Masters.heading")</a>
						<ul>							
							#if ($rolesPermissions.containsKey("/workflowtemplate/"))
							<li id="workflowtemplate"><a href="$contextRoot/workflowtemplate/listWorkflowTemplate.do">$messageSource.getMessage("Menu.Workflow.template")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/workflowtemplateusermapping/"))
							<li id="workflowtemplateusermapping"><a href="$contextRoot/workflowtemplateusermapping/listWorkflowTemplateUserMapping.do">$messageSource.getMessage("Menu.Workflow.tempalte.mappings")</a></li>
							#end
						</ul>
					</li>
					#end
					
					
					#if ($rolesPermissions.containsKey("/feemaster/"))
					<li id="RTI Masters">
						<a href="#">$messageSource.getMessage("Menu.rti.heading")</a>
						<ul>
							#if ($rolesPermissions.containsKey("/feeType/"))
							<li id="feetype"><a href="$contextRoot/feeType/listFeeType.do">$messageSource.getMessage("Menu.rti.feeType")</a></li>
							#end
								
							#if ($rolesPermissions.containsKey("/feemaster/"))
							<li id="feemaster"><a href="$contextRoot/feemaster/listFeeMaster.do">$messageSource.getMessage("Menu.rti.feemaster")</a></li>
							#end
						</ul>
					</li>
					#end
					
					
					#if ($rolesPermissions.containsKey("/rtiapplication/"))
						<li id="RTI Transactons">
							<a href="#">$messageSource.getMessage("Menu.rti.transactions.heading")</a>
						<ul>	
							#if ($rolesPermissions.containsKey("/rtiapplication/"))
							<li id="user"><a href="$contextRoot/rtiapplication/listRTIApplication.do">$messageSource.getMessage("Menu.rti.application")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/inbox/"))
							<li id="user"><a href="$contextRoot/inbox/listInbox.do">$messageSource.getMessage("Menu.rti.inbox")</a></li>
							#end
							#if ($rolesPermissions.containsKey("/outbox/"))
							<li id="user"><a href="$contextRoot/outbox/listOutbox.do">$messageSource.getMessage("Menu.rti.outbox")</a></li>
							#end
						</ul>
					</li>
					#end
					
					
					#if ($rolesPermissions.containsKey("/corereports/") ||
						$rolesPermissions.containsKey("/reports/"))
					<li id="Reports">
						<a href="#">$messageSource.getMessage("Menu.Reports.heading")</a>
						<ul>
								 #if ($rolesPermissions.containsKey("/reports/"))
							<li id="reports">
								<a href="${contextRoot}/reports/listAuditReports.do">$messageSource.getMessage("Menu.Reports.AuditReports")</a>
							</li>
							#end
							#if ($rolesPermissions.containsKey("/corereports/"))
							<li id="corereports">
								<a href="${contextRoot}/corereports/listCoreReports.do">$messageSource.getMessage("Menu.Reports.RTIReports")</a>
							</li>
							#end 
							#if ($rolesPermissions.containsKey("/reports/"))
							<li id="recentreports">
								<a href="${contextRoot}/reports/recentlyGeneratedReports.do">$messageSource.getMessage("Menu.Reports.RecentlyGeneratedReports")</a>
							</li>
							#end
						</ul>
					</li>
					#end
					
				</ul>
      		</td>
   		</tr>
   </tbody>
</table>